    <div class="comment-wrapper">
    {% comment %} Chat input {% endcomment %}
    <section class="comment">
        <h2>Voeg een bericht toe</h2>
        <form action="/nieuws/{{ news.id }}/{{ news.slug }}" method="POST">
            <label>
                Naam:
                <input type="text" name="name" placeholder="Naam:" required>
            </label>
            
            <label>
                Bericht:
                <textarea name="comment" required maxlength="100" style="height: 30px"></textarea>
            </label>

            <label>
                <input type="submit" value="Verstuur" class="sumbit-button">
            </label>
        </form>
    </section>

    {% comment %} Message box {% endcomment %}
    <section class="messages">
        <h3>{{ comments.size }} Opmerkingen</h3>
        {% for comment in comments %}
        <p>{{ comment.name | default: "Onbekend" }}: {{ comment.comment }} {{ comment.date_created | date: '%d-%m-%Y %H:%M' }}</p>
        {% else %}
        <p>Er zijn nog geen berichten voor dit artikel.</p>
        {% endfor %}
    </section>
</div>
{% endfor %} 
